<!DOCTYPE html>
<html style="font-family: tahoma">
    <head>
        <meta charset="utf-8"/>
        <title>Room Listing Page</title>
        <link rel="stylesheet" href="styles.css" type="text/css"/>
    </head>

    <body>
        <header>
            <!---->
            <!-- AirBNB Logo -->
            <img
            src='airBNB_Logo.png'
            alt='AirBNB Logo'
            width=50
            height=50
          />

            <!---->
            <!-- Navigation Bar -->
            <p><a href="/">Home</a> | 
                Room Listing | 
            <a href="/userRegistration">User Registration</a></p>
        </header>

        <hr>

        <main>
            
            <!---->
            <!-- Sample Rooms Grid -->
            <section>
                
                <table>
                    <tr>
                        <td>
                            <div class="card" id="61307088">
                                <div class="card-img" style="background-image : url('https://a0.muscache.com/im/pictures/1132109c-7e7d-4e24-ae30-aaee83e7412e.jpg?im_w=1200');"></div>
                                <div class="card-body">
                                    <p>Entire Guest Suite -- Collingwood</p>
                                    <p>Beyond The Blue Door</p>
                                    <p>$113 CAD / night</p>
                                    <p>$113 CAD total</p>
                                </div>
                                
                            </div>
                        </td>

                        <td>
                            <div class="card" id="61307088">
                                <div class="card-img" style="background-image : url('https://a0.muscache.com/im/pictures/70a56628-2a03-4319-9491-7384aec6ec35.jpg?im_w=1200');"></div>
                                <div class="card-body">
                                    <p>Entire Apartiment -- Collingwood</p>
                                    <p>Spacious Resort Studio in Collingwood</p>
                                    <p>$209 CAD / night</p>
                                    <p>$209 CAD total</p>
                                </div>
                                
                            </div>
                        </td>

                        <td>
                            <div class="card" id="61307088">
                                <div class="card-img" style="background-image : url('https://a0.muscache.com/im/pictures/4a45e779-81d8-4e43-8193-a238ab384287.jpg?im_w=1200');"></div>
                                <div class="card-body">
                                    <p>Entire Apartment -- Collingwood</p>
                                    <p>The Hideout-Relaxing Collingwood</p>
                                    <p>$374 CAD / night</p>
                                    <p>$374 CAD total</p>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card" id="61307088">
                                <div class="card-img" style="background-image : url('https://a0.muscache.com/im/pictures/c9c88bd0-f5aa-41e4-8718-6b15007b7ddd.jpg?im_w=1200');"></div>
                                <div class="card-body">
                                    <p>Entire Cottage -- Huntsville</p>
                                    <p>Sunrise 8 -- Tally Ho Inn</p>
                                    <p>$151 CAD / night</p>
                                    <p>$151 CAD total</p>
                                </div>
                                
                            </div>
                        </td>
                        <td>
                            <div class="card" id="61307088">
                                <div class="card-img" style="background-image : url('https://a0.muscache.com/im/pictures/miso/Hosting-9682031/original/526bac73-d26d-45fb-99a9-d56e39635166.jpeg?im_w=1200');"></div>
                                <div class="card-body">
                                    <p>Entire Cabin -- Huntsville</p>
                                    <p>Birchgrove 11 -- Tally Ho Inn</p>
                                    <p>$181 CAD / night</p>
                                    <p>$181 CAD total</p>
                                </div>
                                
                            </div>
                        </td>
                        <td>
                            <div class="card" id="61307088">
                                <div class="card-img" style="background-image : url('https://a0.muscache.com/im/pictures/108999c0-510f-4ec3-9c15-f4cbaa3c85a9.jpg?im_w=720');"></div>
                                <div class="card-body">
                                    <p>Entire Cottage -- Huntville</p>
                                    <p>Hilltop 25 -- Tally Ho Inn</p>
                                    <p>$316 CAD / night</p>
                                    <p>$316 CAD total</p>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </section>
        </main>
        
        <hr>

        <footer>
            <!---->
            <!-- Navigation Bar -->
            <table>
                <tr>
                    <td>
                        <p><a href="/">Home</a> | 
                            Room Listing | 
                        <a href="/userRegistration">User Registration</a>
                    </p>
                    </td>
                    <td> | </td>
                    <td><a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/airbnb" class="_s7cvp1u"><svg viewBox="0 0 32 32" role="img" aria-hidden="false" aria-label="Navigate to Facebook" focusable="false" style="height:18px;width:18px;display:block;fill:currentColor"><path d="m8 14.41v-4.17c0-.42.35-.81.77-.81h2.52v-2.08c0-4.84 2.48-7.31 7.42-7.35 1.65 0 3.22.21 4.69.64.46.14.63.42.6.88l-.56 4.06c-.04.18-.14.35-.32.53-.21.11-.42.18-.63.14-.88-.25-1.78-.35-2.8-.35-1.4 0-1.61.28-1.61 1.73v1.8h4.52c.42 0 .81.42.81.88l-.35 4.17c0 .42-.35.71-.77.71h-4.21v16c0 .42-.35.81-.77.81h-5.21c-.42 0-.8-.39-.8-.81v-16h-2.52a.78.78 0 0 1 -.78-.78" fill-rule="evenodd"></path></svg></a></th>
                    <td> | </td>
                    <td><a rel="noopener noreferrer" target="_blank" href="https://twitter.com/airbnb" class="_s7cvp1u"><svg viewBox="0 0 32 32" role="img" aria-hidden="false" aria-label="Navigate to Twitter" focusable="false" style="height:18px;width:18px;display:block;fill:currentColor"><path d="m31 6.36c-1.16.49-2.32.82-3.55.95 1.29-.76 2.22-1.87 2.72-3.38a13.05 13.05 0 0 1 -3.91 1.51c-1.23-1.28-2.75-1.94-4.51-1.94-3.41 0-6.17 2.73-6.17 6.12 0 .49.07.95.17 1.38-4.94-.23-9.51-2.6-12.66-6.38-.56.95-.86 1.97-.86 3.09 0 2.07 1.03 3.91 2.75 5.06-1-.03-1.92-.3-2.82-.76v.07c0 2.89 2.12 5.42 4.94 5.98-.63.17-1.16.23-1.62.23-.3 0-.7-.03-1.13-.13a6.07 6.07 0 0 0 5.74 4.24c-2.22 1.74-4.78 2.63-7.66 2.63-.56 0-1.06-.03-1.43-.1 2.85 1.84 6 2.76 9.41 2.76 7.29 0 12.83-4.01 15.51-9.3 1.36-2.66 2.02-5.36 2.02-8.09v-.46c-.03-.17-.03-.3-.03-.33a12.66 12.66 0 0 0 3.09-3.16" fill-rule="evenodd"></path></svg></a></th>
                    <td> | </td>
                    <td><a rel="noopener noreferrer" target="_blank" href="https://instagram.com/airbnb" class="_s7cvp1u"><svg viewBox="0 0 24 24" role="img" aria-hidden="false" aria-label="Navigate to Instagram" focusable="false" style="height:18px;width:18px;display:block;fill:currentColor"><path d="m23.09.91c-.61-.61-1.33-.91-2.17-.91h-17.84c-.85 0-1.57.3-2.17.91s-.91 1.33-.91 2.17v17.84c0 .85.3 1.57.91 2.17s1.33.91 2.17.91h17.84c.85 0 1.57-.3 2.17-.91s.91-1.33.91-2.17v-17.84c0-.85-.3-1.57-.91-2.17zm-14.48 7.74c.94-.91 2.08-1.37 3.4-1.37 1.33 0 2.47.46 3.41 1.37s1.41 2.01 1.41 3.3-.47 2.39-1.41 3.3-2.08 1.37-3.41 1.37c-1.32 0-2.46-.46-3.4-1.37s-1.41-2.01-1.41-3.3.47-2.39 1.41-3.3zm12.66 11.63c0 .27-.09.5-.28.68a.92.92 0 0 1 -.67.28h-16.7a.93.93 0 0 1 -.68-.28.92.92 0 0 1 -.27-.68v-10.13h2.2a6.74 6.74 0 0 0 -.31 2.05c0 2 .73 3.71 2.19 5.12s3.21 2.12 5.27 2.12a7.5 7.5 0 0 0 3.75-.97 7.29 7.29 0 0 0 2.72-2.63 6.93 6.93 0 0 0 1-3.63c0-.71-.11-1.39-.31-2.05h2.11v10.12zm0-13.95c0 .3-.11.56-.31.77a1.05 1.05 0 0 1 -.77.31h-2.72c-.3 0-.56-.11-.77-.31a1.05 1.05 0 0 1 -.31-.77v-2.58c0-.29.11-.54.31-.76s.47-.32.77-.32h2.72c.3 0 .56.11.77.32s.31.47.31.76z" fill-rule="evenodd"></path></svg></a></th>
                 </tr>
            </table>
        </footer>
    </body>
</html>